.git
.github
.idea
.vscode

.env
.env.*

**/target
**/node_modules
**/.mvn/wrapper/maven-wrapper.jar
sc-frontend/dist
sc-frontend/output

docker-compose*.yaml
postgres-init/
nacos-config/
nacos-plugins/
docs/
*.md
*.log
*.tmp
