--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET
statement_timeout = 0;
SET
lock_timeout = 0;
SET
idle_in_transaction_session_timeout = 0;
SET
transaction_timeout = 0;
SET
client_encoding = 'UTF8';
SET
standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET
check_function_bodies = false;
SET
xmloption = content;
SET
client_min_messages = warning;
SET
row_security = off;

--
-- Name: trg_set_updated_at(); Type: FUNCTION; Schema: public; Owner: edupivot
--

CREATE FUNCTION public.trg_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at
= CURRENT_TIMESTAMP;
RETURN NEW;
END;
$$;


ALTER FUNCTION public.trg_set_updated_at() OWNER TO edupivot;

--
-- Name: FUNCTION trg_set_updated_at(); Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON FUNCTION public.trg_set_updated_at() IS '自动设置 updated_at 为当前时间戳';


SET
default_tablespace = '';

SET
default_table_access_method = heap;

--
-- Name: auth_user_identities; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.auth_user_identities
(
    id                      uuid                     NOT NULL,
    user_id                 uuid                     NOT NULL,
    provider                character varying(32)    NOT NULL,
    provider_user_id        character varying(191)   NOT NULL,
    provider_login          character varying(191),
    provider_email          character varying(320),
    provider_email_verified boolean DEFAULT false    NOT NULL,
    provider_display_name   character varying(128),
    provider_avatar_url     text,
    linked_at               timestamp with time zone NOT NULL,
    last_login_at           timestamp with time zone
);


ALTER TABLE public.auth_user_identities OWNER TO edupivot;

--
-- Name: auth_users; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.auth_users
(
    id                   uuid                                NOT NULL,
    email                character varying(320),
    email_verified       boolean               DEFAULT false NOT NULL,
    display_name         character varying(128),
    avatar_url           text,
    locale               character varying(32),
    status               character varying(32)               NOT NULL,
    created_at           timestamp with time zone            NOT NULL,
    updated_at           timestamp with time zone            NOT NULL,
    last_login_at        timestamp with time zone,
    created_provider     character varying(32),
    created_ip           character varying(45),
    last_login_provider  character varying(32),
    last_login_ip        character varying(45),
    login_count          bigint                DEFAULT 0     NOT NULL,
    password_hash        character varying(128),
    role                 smallint              DEFAULT 1     NOT NULL,
    phone                character varying(20),
    bio                  character varying(500),
    gender               smallint              DEFAULT 0,
    birthday             date,
    theme                character varying(20) DEFAULT 'system'::character varying,
    notification_enabled boolean               DEFAULT true,
    avatar_file_id       uuid
);


ALTER TABLE public.auth_users OWNER TO edupivot;

--
-- Name: COLUMN auth_users.role; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.role IS '用户角色：0=管理员，1=学生，2=教师';


--
-- Name: COLUMN auth_users.phone; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.phone IS '电话号码';


--
-- Name: COLUMN auth_users.bio; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.bio IS '个人简介';


--
-- Name: COLUMN auth_users.gender; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.gender IS '性别: 0=未知, 1=男, 2=女';


--
-- Name: COLUMN auth_users.birthday; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.birthday IS '生日';


--
-- Name: COLUMN auth_users.theme; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.theme IS '主题偏好: light, dark, system';


--
-- Name: COLUMN auth_users.notification_enabled; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.auth_users.notification_enabled IS '是否开启通知';


--
-- Name: edu_chapter; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_chapter
(
    id                uuid                     DEFAULT gen_random_uuid() NOT NULL,
    course_id         uuid                                               NOT NULL,
    teacher_id        uuid                                               NOT NULL,
    chapter_name      character varying(200)                             NOT NULL,
    parent_chapter_id uuid,
    description       character varying(2000),
    content           text,
    attachment_urls   jsonb,
    sort_order        integer                  DEFAULT 0                 NOT NULL,
    status            smallint                 DEFAULT 0                 NOT NULL,
    view_count        bigint                   DEFAULT 0                 NOT NULL,
    like_count        bigint                   DEFAULT 0                 NOT NULL,
    created_at        timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at        timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted           smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_chapter OWNER TO edupivot;

--
-- Name: TABLE edu_chapter; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_chapter IS '课程章节';


--
-- Name: COLUMN edu_chapter.id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.id IS '章节ID';


--
-- Name: COLUMN edu_chapter.course_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.course_id IS '所属课程ID';


--
-- Name: COLUMN edu_chapter.teacher_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.teacher_id IS '创建教师ID';


--
-- Name: COLUMN edu_chapter.chapter_name; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.chapter_name IS '章节名称';


--
-- Name: COLUMN edu_chapter.parent_chapter_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.parent_chapter_id IS '父章节ID (树形结构)';


--
-- Name: COLUMN edu_chapter.description; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.description IS '章节描述';


--
-- Name: COLUMN edu_chapter.content; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.content IS '富文本内容';


--
-- Name: COLUMN edu_chapter.attachment_urls; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.attachment_urls IS '附件URL列表 (JSON数组)';


--
-- Name: COLUMN edu_chapter.sort_order; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.sort_order IS '排序权重';


--
-- Name: COLUMN edu_chapter.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.status IS '状态: 0=草稿, 1=已发布';


--
-- Name: COLUMN edu_chapter.view_count; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.view_count IS '浏览次数';


--
-- Name: COLUMN edu_chapter.like_count; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.like_count IS '点赞次数';


--
-- Name: COLUMN edu_chapter.created_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.created_at IS '创建时间';


--
-- Name: COLUMN edu_chapter.updated_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.updated_at IS '更新时间';


--
-- Name: COLUMN edu_chapter.deleted; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_chapter.deleted IS '逻辑删除: 0=正常, 1=已删除';


--
-- Name: edu_course; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_course
(
    id            uuid                     DEFAULT gen_random_uuid() NOT NULL,
    title         character varying(200)                             NOT NULL,
    description   text,
    teacher_id    uuid                                               NOT NULL,
    level         smallint                 DEFAULT 1                 NOT NULL,
    cover_url     text,
    max_students  integer                  DEFAULT 0                 NOT NULL,
    status        smallint                 DEFAULT 0                 NOT NULL,
    created_at    timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at    timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted       smallint                 DEFAULT 0                 NOT NULL,
    semester      character varying(20),
    location      character varying(100),
    course_type   smallint                 DEFAULT 0,
    is_public     smallint                 DEFAULT 0                 NOT NULL,
    cover_file_id uuid
);


ALTER TABLE public.edu_course OWNER TO edupivot;

--
-- Name: TABLE edu_course; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_course IS '课程表';


--
-- Name: COLUMN edu_course.id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.id IS '课程ID';


--
-- Name: COLUMN edu_course.title; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.title IS '课程标题';


--
-- Name: COLUMN edu_course.description; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.description IS '课程描述';


--
-- Name: COLUMN edu_course.teacher_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.teacher_id IS '教师用户ID';


--
-- Name: COLUMN edu_course.level; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.level IS '难度等级: 1=初级, 2=中级, 3=高级';


--
-- Name: COLUMN edu_course.cover_url; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.cover_url IS '封面图片URL';


--
-- Name: COLUMN edu_course.max_students; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.max_students IS '最大学生数, 0=不限';


--
-- Name: COLUMN edu_course.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.status IS '状态: 0=草稿, 1=已发布, 2=已归档';


--
-- Name: COLUMN edu_course.created_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.created_at IS '创建时间';


--
-- Name: COLUMN edu_course.updated_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.updated_at IS '更新时间';


--
-- Name: COLUMN edu_course.deleted; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.deleted IS '逻辑删除: 0=正常, 1=已删除';


--
-- Name: COLUMN edu_course.semester; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.semester IS '开设学期 (例如: 2025秋季)';


--
-- Name: COLUMN edu_course.location; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.location IS '上课地点';


--
-- Name: COLUMN edu_course.course_type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.course_type IS '课程类型: 0=必修, 1=选修';


--
-- Name: COLUMN edu_course.is_public; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course.is_public IS '是否公开: 0=仅课程成员, 1=公开';


--
-- Name: edu_course_file; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_course_file
(
    id                uuid                     DEFAULT gen_random_uuid() NOT NULL,
    course_id         uuid                                               NOT NULL,
    storage_object_id uuid                                               NOT NULL,
    visibility        character varying(32)                              NOT NULL,
    display_name      character varying(255)                             NOT NULL,
    created_by        uuid                                               NOT NULL,
    sort_order        integer                  DEFAULT 0                 NOT NULL,
    created_at        timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted           smallint                 DEFAULT 0                 NOT NULL,
    updated_at        timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.edu_course_file OWNER TO edupivot;

--
-- Name: edu_course_teacher; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_course_teacher
(
    course_id  uuid                                               NOT NULL,
    teacher_id uuid                                               NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.edu_course_teacher OWNER TO edupivot;

--
-- Name: TABLE edu_course_teacher; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_course_teacher IS 'Course-teacher relation table';


--
-- Name: COLUMN edu_course_teacher.course_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course_teacher.course_id IS 'Course ID';


--
-- Name: COLUMN edu_course_teacher.teacher_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course_teacher.teacher_id IS 'Teacher user ID';


--
-- Name: COLUMN edu_course_teacher.created_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_course_teacher.created_at IS 'Created time';


--
-- Name: edu_enrollment; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_enrollment
(
    id           uuid                     DEFAULT gen_random_uuid() NOT NULL,
    course_id    uuid                                               NOT NULL,
    student_id   uuid                                               NOT NULL,
    status       smallint                 DEFAULT 0                 NOT NULL,
    enrolled_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp with time zone,
    created_at   timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at   timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted      smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_enrollment OWNER TO edupivot;

--
-- Name: TABLE edu_enrollment; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_enrollment IS '选课表';


--
-- Name: COLUMN edu_enrollment.id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.id IS '选课ID';


--
-- Name: COLUMN edu_enrollment.course_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.course_id IS '课程ID';


--
-- Name: COLUMN edu_enrollment.student_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.student_id IS '学生用户ID';


--
-- Name: COLUMN edu_enrollment.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.status IS '状态: 0=待审核, 1=已选课, 2=已完成, 3=已退课';


--
-- Name: COLUMN edu_enrollment.enrolled_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.enrolled_at IS '选课时间';


--
-- Name: COLUMN edu_enrollment.completed_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.completed_at IS '完成时间';


--
-- Name: COLUMN edu_enrollment.created_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.created_at IS '创建时间';


--
-- Name: COLUMN edu_enrollment.updated_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.updated_at IS '更新时间';


--
-- Name: COLUMN edu_enrollment.deleted; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_enrollment.deleted IS '逻辑删除: 0=正常, 1=已删除';


--
-- Name: edu_forum; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_forum
(
    id              uuid                     DEFAULT gen_random_uuid() NOT NULL,
    course_id       uuid                                               NOT NULL,
    forum_name      character varying(200)                             NOT NULL,
    description     character varying(2000),
    forum_type      smallint                 DEFAULT 0                 NOT NULL,
    allow_anonymous smallint                 DEFAULT 0                 NOT NULL,
    post_count      bigint                   DEFAULT 0                 NOT NULL,
    reply_count     bigint                   DEFAULT 0                 NOT NULL,
    status          smallint                 DEFAULT 0                 NOT NULL,
    tags            jsonb,
    created_at      timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at      timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted         smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_forum OWNER TO edupivot;

--
-- Name: TABLE edu_forum; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_forum IS '课程论坛';


--
-- Name: COLUMN edu_forum.forum_type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum.forum_type IS '论坛类型: 0=讨论, 1=问答, 2=作业, 3=公告';


--
-- Name: COLUMN edu_forum.allow_anonymous; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum.allow_anonymous IS '允许匿名: 0=否, 1=是';


--
-- Name: COLUMN edu_forum.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum.status IS '状态: 0=正常, 1=关闭, 2=维护中';


--
-- Name: COLUMN edu_forum.tags; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum.tags IS '标签列表 (JSON数组)';


--
-- Name: edu_forum_post; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_forum_post
(
    id                 uuid                     DEFAULT gen_random_uuid() NOT NULL,
    forum_id           uuid                                               NOT NULL,
    course_id          uuid                                               NOT NULL,
    sys_user_id        uuid                                               NOT NULL,
    title              character varying(500)                             NOT NULL,
    content            text                                               NOT NULL,
    post_type          smallint                 DEFAULT 0                 NOT NULL,
    is_anonymous       smallint                 DEFAULT 0                 NOT NULL,
    attachment_urls    jsonb,
    image_urls         jsonb,
    tags               jsonb,
    view_count         bigint                   DEFAULT 0                 NOT NULL,
    like_count         bigint                   DEFAULT 0                 NOT NULL,
    reply_count        bigint                   DEFAULT 0                 NOT NULL,
    share_count        bigint                   DEFAULT 0                 NOT NULL,
    is_top             smallint                 DEFAULT 0                 NOT NULL,
    is_essence         smallint                 DEFAULT 0                 NOT NULL,
    is_locked          smallint                 DEFAULT 0                 NOT NULL,
    last_reply_id      uuid,
    last_reply_time    timestamp with time zone,
    last_reply_user_id uuid,
    status             smallint                 DEFAULT 0                 NOT NULL,
    chapter_id         uuid,
    created_at         timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at         timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted            smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_forum_post OWNER TO edupivot;

--
-- Name: TABLE edu_forum_post; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_forum_post IS '论坛帖子';


--
-- Name: COLUMN edu_forum_post.post_type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.post_type IS '帖子类型: 0=普通, 1=公告';


--
-- Name: COLUMN edu_forum_post.is_anonymous; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.is_anonymous IS '是否匿名: 0=实名, 1=匿名';


--
-- Name: COLUMN edu_forum_post.is_top; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.is_top IS '是否置顶: 0=否, 1=是';


--
-- Name: COLUMN edu_forum_post.is_essence; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.is_essence IS '是否精华: 0=否, 1=是';


--
-- Name: COLUMN edu_forum_post.is_locked; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.is_locked IS '是否锁定: 0=否, 1=是';


--
-- Name: COLUMN edu_forum_post.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.status IS '状态: 0=正常, 1=已删除, 2=审核中, 3=审核失败';


--
-- Name: COLUMN edu_forum_post.chapter_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_post.chapter_id IS '关联章节ID (可选)';


--
-- Name: edu_forum_reply; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_forum_reply
(
    id               uuid                     DEFAULT gen_random_uuid() NOT NULL,
    post_id          uuid                                               NOT NULL,
    forum_id         uuid                                               NOT NULL,
    course_id        uuid                                               NOT NULL,
    sys_user_id      uuid                                               NOT NULL,
    content          text                                               NOT NULL,
    parent_reply_id  uuid,
    reply_to_user_id uuid,
    is_anonymous     smallint                 DEFAULT 0                 NOT NULL,
    attachment_urls  jsonb,
    image_urls       jsonb,
    like_count       bigint                   DEFAULT 0                 NOT NULL,
    reply_count      bigint                   DEFAULT 0                 NOT NULL,
    is_accepted      smallint                 DEFAULT 0                 NOT NULL,
    floor_number     integer                  DEFAULT 0                 NOT NULL,
    status           smallint                 DEFAULT 0                 NOT NULL,
    ip_address       character varying(50),
    user_agent       character varying(500),
    created_at       timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at       timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted          smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_forum_reply OWNER TO edupivot;

--
-- Name: TABLE edu_forum_reply; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_forum_reply IS '论坛回复';


--
-- Name: COLUMN edu_forum_reply.parent_reply_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_reply.parent_reply_id IS '父回复ID (树形结构)';


--
-- Name: COLUMN edu_forum_reply.reply_to_user_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_reply.reply_to_user_id IS '回复目标用户ID';


--
-- Name: COLUMN edu_forum_reply.is_accepted; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_reply.is_accepted IS '是否被采纳: 0=否, 1=是 (问答模式)';


--
-- Name: COLUMN edu_forum_reply.floor_number; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_reply.floor_number IS '楼层号';


--
-- Name: COLUMN edu_forum_reply.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_forum_reply.status IS '状态: 0=正常, 1=已删除, 2=审核中, 3=审核失败';


--
-- Name: edu_question; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_question
(
    id                   uuid                     DEFAULT gen_random_uuid() NOT NULL,
    question_bank_id     uuid                                               NOT NULL,
    course_id            uuid                                               NOT NULL,
    sys_user_id          uuid                                               NOT NULL,
    question_title       character varying(500)                             NOT NULL,
    question_content     text,
    question_type        smallint                 DEFAULT 0                 NOT NULL,
    difficulty           smallint                 DEFAULT 2                 NOT NULL,
    score                numeric(10, 2)           DEFAULT 0                 NOT NULL,
    estimated_time       integer,
    tags                 jsonb,
    image_urls           jsonb,
    allow_partial_credit smallint                 DEFAULT 0                 NOT NULL,
    view_count           bigint                   DEFAULT 0                 NOT NULL,
    status               smallint                 DEFAULT 0                 NOT NULL,
    created_at           timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at           timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted              smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_question OWNER TO edupivot;

--
-- Name: TABLE edu_question; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_question IS '题目';


--
-- Name: COLUMN edu_question.question_type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question.question_type IS '题目类型: 0=单选, 1=多选, 2=判断, 3=填空, 4=简答';


--
-- Name: COLUMN edu_question.difficulty; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question.difficulty IS '难度: 1=简单, 2=中等, 3=困难';


--
-- Name: COLUMN edu_question.score; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question.score IS '分值';


--
-- Name: COLUMN edu_question.estimated_time; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question.estimated_time IS '预估答题时间 (分钟)';


--
-- Name: COLUMN edu_question.allow_partial_credit; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question.allow_partial_credit IS '允许部分得分: 0=否, 1=是';


--
-- Name: COLUMN edu_question.status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question.status IS '状态: 0=草稿, 1=已发布, 2=已禁用';


--
-- Name: edu_question_answer; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_question_answer
(
    id             uuid                     DEFAULT gen_random_uuid() NOT NULL,
    question_id    uuid                                               NOT NULL,
    course_id      uuid                                               NOT NULL,
    answer_content text                                               NOT NULL,
    explanation    character varying(2000),
    score          numeric(10, 2),
    sort_order     integer                  DEFAULT 0                 NOT NULL,
    created_at     timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at     timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted        smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_question_answer OWNER TO edupivot;

--
-- Name: TABLE edu_question_answer; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_question_answer IS '题目答案';


--
-- Name: COLUMN edu_question_answer.answer_content; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_answer.answer_content IS '答案内容';


--
-- Name: COLUMN edu_question_answer.score; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_answer.score IS '该空/该题得分';


--
-- Name: COLUMN edu_question_answer.sort_order; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_answer.sort_order IS '填空序号';


--
-- Name: edu_question_bank; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_question_bank
(
    id          uuid                     DEFAULT gen_random_uuid() NOT NULL,
    course_id   uuid                                               NOT NULL,
    sys_user_id uuid                                               NOT NULL,
    bank_name   character varying(200)                             NOT NULL,
    description character varying(2000),
    bank_type   smallint                 DEFAULT 0                 NOT NULL,
    tags        jsonb,
    difficulty  smallint                 DEFAULT 2                 NOT NULL,
    created_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted     smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_question_bank OWNER TO edupivot;

--
-- Name: TABLE edu_question_bank; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_question_bank IS '课程题库';


--
-- Name: COLUMN edu_question_bank.bank_type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_bank.bank_type IS '题库类型: 0=练习, 1=考试, 2=作业';


--
-- Name: COLUMN edu_question_bank.tags; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_bank.tags IS '标签列表 (JSON数组)';


--
-- Name: COLUMN edu_question_bank.difficulty; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_bank.difficulty IS '难度: 1=简单, 2=中等, 3=困难';


--
-- Name: edu_question_option; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_question_option
(
    id             uuid                     DEFAULT gen_random_uuid() NOT NULL,
    question_id    uuid                                               NOT NULL,
    course_id      uuid                                               NOT NULL,
    option_content character varying(2000)                            NOT NULL,
    option_label   character varying(10)                              NOT NULL,
    is_correct     smallint                 DEFAULT 0                 NOT NULL,
    score          numeric(10, 2),
    image_urls     jsonb,
    explanation    character varying(2000),
    created_at     timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at     timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted        smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_question_option OWNER TO edupivot;

--
-- Name: TABLE edu_question_option; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_question_option IS '题目选项';


--
-- Name: COLUMN edu_question_option.option_label; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_option.option_label IS '选项标签: A, B, C, D 等';


--
-- Name: COLUMN edu_question_option.is_correct; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_option.is_correct IS '是否正确: 0=错误, 1=正确';


--
-- Name: COLUMN edu_question_option.score; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_question_option.score IS '部分得分 (多选题)';


--
-- Name: edu_student; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_student
(
    id         uuid                     DEFAULT gen_random_uuid() NOT NULL,
    user_id    uuid                                               NOT NULL,
    student_no character varying(32)                              NOT NULL,
    grade      character varying(16),
    major      character varying(64),
    school     character varying(128),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted    smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_student OWNER TO edupivot;

--
-- Name: TABLE edu_student; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_student IS '学生信息表';


--
-- Name: COLUMN edu_student.student_no; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_student.student_no IS '学号';


--
-- Name: COLUMN edu_student.grade; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_student.grade IS '年级';


--
-- Name: COLUMN edu_student.major; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_student.major IS '专业';


--
-- Name: COLUMN edu_student.school; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_student.school IS '学校';


--
-- Name: edu_teacher; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.edu_teacher
(
    id          uuid                     DEFAULT gen_random_uuid() NOT NULL,
    user_id     uuid                                               NOT NULL,
    employee_no character varying(32)                              NOT NULL,
    department  character varying(64),
    title       character varying(32),
    school      character varying(128),
    created_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted     smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.edu_teacher OWNER TO edupivot;

--
-- Name: TABLE edu_teacher; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.edu_teacher IS '教师信息表';


--
-- Name: COLUMN edu_teacher.employee_no; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_teacher.employee_no IS '工号';


--
-- Name: COLUMN edu_teacher.department; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_teacher.department IS '院系';


--
-- Name: COLUMN edu_teacher.title; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_teacher.title IS '职称';


--
-- Name: COLUMN edu_teacher.school; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.edu_teacher.school IS '学校';


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.flyway_schema_history
(
    installed_rank integer                 NOT NULL,
    version        character varying(50),
    description    character varying(200)  NOT NULL,
    type           character varying(20)   NOT NULL,
    script         character varying(1000) NOT NULL,
    checksum       integer,
    installed_by   character varying(100)  NOT NULL,
    installed_on   timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer                 NOT NULL,
    success        boolean                 NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO edupivot;

--
-- Name: flyway_schema_history_auth; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.flyway_schema_history_auth
(
    installed_rank integer                 NOT NULL,
    version        character varying(50),
    description    character varying(200)  NOT NULL,
    type           character varying(20)   NOT NULL,
    script         character varying(1000) NOT NULL,
    checksum       integer,
    installed_by   character varying(100)  NOT NULL,
    installed_on   timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer                 NOT NULL,
    success        boolean                 NOT NULL
);


ALTER TABLE public.flyway_schema_history_auth OWNER TO edupivot;

--
-- Name: flyway_schema_history_course; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.flyway_schema_history_course
(
    installed_rank integer                 NOT NULL,
    version        character varying(50),
    description    character varying(200)  NOT NULL,
    type           character varying(20)   NOT NULL,
    script         character varying(1000) NOT NULL,
    checksum       integer,
    installed_by   character varying(100)  NOT NULL,
    installed_on   timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer                 NOT NULL,
    success        boolean                 NOT NULL
);


ALTER TABLE public.flyway_schema_history_course OWNER TO edupivot;

--
-- Name: flyway_schema_history_notification; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.flyway_schema_history_notification
(
    installed_rank integer                 NOT NULL,
    version        character varying(50),
    description    character varying(200)  NOT NULL,
    type           character varying(20)   NOT NULL,
    script         character varying(1000) NOT NULL,
    checksum       integer,
    installed_by   character varying(100)  NOT NULL,
    installed_on   timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer                 NOT NULL,
    success        boolean                 NOT NULL
);


ALTER TABLE public.flyway_schema_history_notification OWNER TO edupivot;

--
-- Name: flyway_schema_history_storage; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.flyway_schema_history_storage
(
    installed_rank integer                 NOT NULL,
    version        character varying(50),
    description    character varying(200)  NOT NULL,
    type           character varying(20)   NOT NULL,
    script         character varying(1000) NOT NULL,
    checksum       integer,
    installed_by   character varying(100)  NOT NULL,
    installed_on   timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer                 NOT NULL,
    success        boolean                 NOT NULL
);


ALTER TABLE public.flyway_schema_history_storage OWNER TO edupivot;

--
-- Name: ntf_notification; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.ntf_notification
(
    id          uuid                     DEFAULT gen_random_uuid() NOT NULL,
    type        smallint                                           NOT NULL,
    title       character varying(128)                             NOT NULL,
    content     text                                               NOT NULL,
    sender_id   uuid,
    target_type smallint                 DEFAULT 0                 NOT NULL,
    created_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at  timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted     smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.ntf_notification OWNER TO edupivot;

--
-- Name: TABLE ntf_notification; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.ntf_notification IS '通知表';


--
-- Name: COLUMN ntf_notification.type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification.type IS '通知类型：1=系统公告，2=教学通知';


--
-- Name: COLUMN ntf_notification.title; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification.title IS '通知标题';


--
-- Name: COLUMN ntf_notification.content; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification.content IS '通知内容';


--
-- Name: COLUMN ntf_notification.sender_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification.sender_id IS '发送者ID，系统公告为NULL';


--
-- Name: COLUMN ntf_notification.target_type; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification.target_type IS '目标类型：0=全员，1=指定用户';


--
-- Name: ntf_notification_target; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.ntf_notification_target
(
    id              uuid     DEFAULT gen_random_uuid() NOT NULL,
    notification_id uuid                               NOT NULL,
    user_id         uuid                               NOT NULL,
    deleted         smallint DEFAULT 0                 NOT NULL
);


ALTER TABLE public.ntf_notification_target OWNER TO edupivot;

--
-- Name: TABLE ntf_notification_target; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.ntf_notification_target IS '通知目标用户表';


--
-- Name: COLUMN ntf_notification_target.notification_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification_target.notification_id IS '通知ID';


--
-- Name: COLUMN ntf_notification_target.user_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification_target.user_id IS '目标用户ID';


--
-- Name: COLUMN ntf_notification_target.deleted; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_notification_target.deleted IS '软删除：0=正常, 1=已删除';


--
-- Name: ntf_read_status; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.ntf_read_status
(
    id              uuid                     DEFAULT gen_random_uuid() NOT NULL,
    notification_id uuid                                               NOT NULL,
    user_id         uuid                                               NOT NULL,
    read_at         timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ntf_read_status OWNER TO edupivot;

--
-- Name: TABLE ntf_read_status; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON TABLE public.ntf_read_status IS '通知已读状态表';


--
-- Name: COLUMN ntf_read_status.notification_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_read_status.notification_id IS '通知ID';


--
-- Name: COLUMN ntf_read_status.user_id; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_read_status.user_id IS '用户ID';


--
-- Name: COLUMN ntf_read_status.read_at; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.ntf_read_status.read_at IS '阅读时间';


--
-- Name: storage_object; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.storage_object
(
    id                uuid                     DEFAULT gen_random_uuid() NOT NULL,
    bucket            character varying(128)                             NOT NULL,
    object_key        text                                               NOT NULL,
    original_filename character varying(255)                             NOT NULL,
    content_type      character varying(128)                             NOT NULL,
    size_bytes        bigint                                             NOT NULL,
    etag              character varying(191),
    sha256            character varying(128),
    usage             character varying(64)                              NOT NULL,
    visibility        character varying(64)                              NOT NULL,
    owner_user_id     uuid                                               NOT NULL,
    scope_type        character varying(64)                              NOT NULL,
    scope_id          uuid,
    status            character varying(32)                              NOT NULL,
    created_at        timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    uploaded_at       timestamp with time zone,
    deleted_at        timestamp with time zone,
    deleted           smallint                 DEFAULT 0                 NOT NULL
);


ALTER TABLE public.storage_object OWNER TO edupivot;

--
-- Name: COLUMN storage_object.deleted; Type: COMMENT; Schema: public; Owner: edupivot
--

COMMENT
ON COLUMN public.storage_object.deleted IS '软删除标记（0=正常, 1=已删除）';


--
-- Name: storage_upload_session; Type: TABLE; Schema: public; Owner: edupivot
--

CREATE TABLE public.storage_upload_session
(
    id                   uuid                     DEFAULT gen_random_uuid() NOT NULL,
    object_id            uuid                                               NOT NULL,
    method               character varying(16)                              NOT NULL,
    expires_at           timestamp with time zone                           NOT NULL,
    max_size_bytes       bigint                                             NOT NULL,
    allowed_content_type character varying(128)                             NOT NULL,
    status               character varying(32)                              NOT NULL,
    created_at           timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at         timestamp with time zone
);


ALTER TABLE public.storage_upload_session OWNER TO edupivot;

--
-- Data for Name: auth_user_identities; Type: TABLE DATA; Schema: public; Owner: edupivot
--

COPY public.auth_user_identities (id, user_id, provider, provider_user_id, provider_login, provider_email, provider_email_verified, provider_display_name, provider_avatar_url, linked_at, last_login_at) FROM stdin;
143aec5c
-4259-49a4-9413-d8963ec36d5b	65c551fa-6f5e-45a1-8b08-8faf116d1901	GITHUB	190088992	DaYZ316	654011721@qq.com	t	DaYZ	https://avatars.githubusercontent.com/u/190088992?v=4	2026-06-09 20:07:33.07228+08	2026-06-13 00:14:49.439754+08
\.


--
-- Data for Name: auth_users; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: edu_chapter; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: edu_course_file; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: edu_enrollment; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: edu_teacher; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: flyway_schema_history_auth; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: flyway_schema_history_course; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: flyway_schema_history_notification; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: flyway_schema_history_storage; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: ntf_notification; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: ntf_notification_target; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: ntf_read_status; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: storage_object; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Data for Name: storage_upload_session; Type: TABLE DATA; Schema: public; Owner: edupivot
--



--
-- Name: auth_user_identities auth_user_identities_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.auth_user_identities
    ADD CONSTRAINT auth_user_identities_pkey PRIMARY KEY (id);


--
-- Name: auth_users auth_users_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.auth_users
    ADD CONSTRAINT auth_users_pkey PRIMARY KEY (id);


--
-- Name: edu_chapter edu_chapter_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_chapter
    ADD CONSTRAINT edu_chapter_pkey PRIMARY KEY (id);


--
-- Name: edu_course_file edu_course_file_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_course_file
    ADD CONSTRAINT edu_course_file_pkey PRIMARY KEY (id);


--
-- Name: edu_course edu_course_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_course
    ADD CONSTRAINT edu_course_pkey PRIMARY KEY (id);


--
-- Name: edu_course_teacher edu_course_teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_course_teacher
    ADD CONSTRAINT edu_course_teacher_pkey PRIMARY KEY (course_id, teacher_id);


--
-- Name: edu_enrollment edu_enrollment_course_id_student_id_key; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_enrollment
    ADD CONSTRAINT edu_enrollment_course_id_student_id_key UNIQUE (course_id, student_id);


--
-- Name: edu_enrollment edu_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_enrollment
    ADD CONSTRAINT edu_enrollment_pkey PRIMARY KEY (id);


--
-- Name: edu_forum edu_forum_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_forum
    ADD CONSTRAINT edu_forum_pkey PRIMARY KEY (id);


--
-- Name: edu_forum_post edu_forum_post_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_forum_post
    ADD CONSTRAINT edu_forum_post_pkey PRIMARY KEY (id);


--
-- Name: edu_forum_reply edu_forum_reply_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_forum_reply
    ADD CONSTRAINT edu_forum_reply_pkey PRIMARY KEY (id);


--
-- Name: edu_question_answer edu_question_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_question_answer
    ADD CONSTRAINT edu_question_answer_pkey PRIMARY KEY (id);


--
-- Name: edu_question_bank edu_question_bank_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_question_bank
    ADD CONSTRAINT edu_question_bank_pkey PRIMARY KEY (id);


--
-- Name: edu_question_option edu_question_option_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_question_option
    ADD CONSTRAINT edu_question_option_pkey PRIMARY KEY (id);


--
-- Name: edu_question edu_question_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_question
    ADD CONSTRAINT edu_question_pkey PRIMARY KEY (id);


--
-- Name: edu_student edu_student_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_student
    ADD CONSTRAINT edu_student_pkey PRIMARY KEY (id);


--
-- Name: edu_teacher edu_teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.edu_teacher
    ADD CONSTRAINT edu_teacher_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_auth flyway_schema_history_auth_pk; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.flyway_schema_history_auth
    ADD CONSTRAINT flyway_schema_history_auth_pk PRIMARY KEY (installed_rank);


--
-- Name: flyway_schema_history_course flyway_schema_history_course_pk; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.flyway_schema_history_course
    ADD CONSTRAINT flyway_schema_history_course_pk PRIMARY KEY (installed_rank);


--
-- Name: flyway_schema_history_notification flyway_schema_history_notification_pk; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.flyway_schema_history_notification
    ADD CONSTRAINT flyway_schema_history_notification_pk PRIMARY KEY (installed_rank);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: flyway_schema_history_storage flyway_schema_history_storage_pk; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.flyway_schema_history_storage
    ADD CONSTRAINT flyway_schema_history_storage_pk PRIMARY KEY (installed_rank);


--
-- Name: ntf_notification ntf_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.ntf_notification
    ADD CONSTRAINT ntf_notification_pkey PRIMARY KEY (id);


--
-- Name: ntf_notification_target ntf_notification_target_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.ntf_notification_target
    ADD CONSTRAINT ntf_notification_target_pkey PRIMARY KEY (id);


--
-- Name: ntf_read_status ntf_read_status_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.ntf_read_status
    ADD CONSTRAINT ntf_read_status_pkey PRIMARY KEY (id);


--
-- Name: storage_object storage_object_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.storage_object
    ADD CONSTRAINT storage_object_pkey PRIMARY KEY (id);


--
-- Name: storage_upload_session storage_upload_session_pkey; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.storage_upload_session
    ADD CONSTRAINT storage_upload_session_pkey PRIMARY KEY (id);


--
-- Name: auth_user_identities uk_auth_user_identities_provider_user; Type: CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.auth_user_identities
    ADD CONSTRAINT uk_auth_user_identities_provider_user UNIQUE (provider, provider_user_id);


--
-- Name: flyway_schema_history_auth_s_idx; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX flyway_schema_history_auth_s_idx ON public.flyway_schema_history_auth USING btree (success);


--
-- Name: flyway_schema_history_course_s_idx; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX flyway_schema_history_course_s_idx ON public.flyway_schema_history_course USING btree (success);


--
-- Name: flyway_schema_history_notification_s_idx; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX flyway_schema_history_notification_s_idx ON public.flyway_schema_history_notification USING btree (success);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: flyway_schema_history_storage_s_idx; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX flyway_schema_history_storage_s_idx ON public.flyway_schema_history_storage USING btree (success);


--
-- Name: idx_auth_user_identities_user_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_auth_user_identities_user_id ON public.auth_user_identities USING btree (user_id);


--
-- Name: idx_auth_users_avatar_file_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_auth_users_avatar_file_id ON public.auth_users USING btree (avatar_file_id);


--
-- Name: idx_auth_users_email; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_auth_users_email ON public.auth_users USING btree (email);


--
-- Name: idx_auth_users_phone; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_auth_users_phone ON public.auth_users USING btree (phone);


--
-- Name: idx_auth_users_role; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_auth_users_role ON public.auth_users USING btree (role);


--
-- Name: idx_edu_chapter_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_chapter_course_id ON public.edu_chapter USING btree (course_id);


--
-- Name: idx_edu_chapter_course_sort; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_chapter_course_sort ON public.edu_chapter USING btree (course_id, sort_order);


--
-- Name: idx_edu_chapter_course_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_chapter_course_status ON public.edu_chapter USING btree (course_id, status);


--
-- Name: idx_edu_chapter_parent; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_chapter_parent ON public.edu_chapter USING btree (parent_chapter_id);


--
-- Name: idx_edu_course_course_type; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_course_type ON public.edu_course USING btree (course_type);


--
-- Name: idx_edu_course_cover_file_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_cover_file_id ON public.edu_course USING btree (cover_file_id);


--
-- Name: idx_edu_course_file_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_file_course_id ON public.edu_course_file USING btree (course_id);


--
-- Name: idx_edu_course_file_course_visibility; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_file_course_visibility ON public.edu_course_file USING btree (course_id, visibility);


--
-- Name: idx_edu_course_file_storage_object_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_file_storage_object_id ON public.edu_course_file USING btree (storage_object_id);


--
-- Name: idx_edu_course_is_public; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_is_public ON public.edu_course USING btree (is_public);


--
-- Name: idx_edu_course_semester; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_semester ON public.edu_course USING btree (semester);


--
-- Name: idx_edu_course_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_status ON public.edu_course USING btree (status);


--
-- Name: idx_edu_course_status_created; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_status_created ON public.edu_course USING btree (status, created_at DESC);


--
-- Name: idx_edu_course_status_public_created; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_status_public_created ON public.edu_course USING btree (status, is_public, created_at DESC);


--
-- Name: idx_edu_course_teacher_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_teacher_id ON public.edu_course USING btree (teacher_id);


--
-- Name: idx_edu_course_teacher_teacher_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_course_teacher_teacher_id ON public.edu_course_teacher USING btree (teacher_id);


--
-- Name: idx_edu_enrollment_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_enrollment_course_id ON public.edu_enrollment USING btree (course_id);


--
-- Name: idx_edu_enrollment_course_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_enrollment_course_status ON public.edu_enrollment USING btree (course_id, status);


--
-- Name: idx_edu_enrollment_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_enrollment_status ON public.edu_enrollment USING btree (status);


--
-- Name: idx_edu_enrollment_student_enrolled; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_enrollment_student_enrolled ON public.edu_enrollment USING btree (student_id, enrolled_at DESC);


--
-- Name: idx_edu_enrollment_student_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_enrollment_student_id ON public.edu_enrollment USING btree (student_id);


--
-- Name: idx_edu_enrollment_student_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_enrollment_student_status ON public.edu_enrollment USING btree (student_id, status);


--
-- Name: idx_edu_forum_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_course_id ON public.edu_forum USING btree (course_id);


--
-- Name: idx_edu_forum_course_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_course_status ON public.edu_forum USING btree (course_id, status);


--
-- Name: idx_edu_forum_course_type; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_course_type ON public.edu_forum USING btree (course_id, forum_type);


--
-- Name: idx_edu_forum_post_chapter; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_chapter ON public.edu_forum_post USING btree (chapter_id);


--
-- Name: idx_edu_forum_post_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_course_id ON public.edu_forum_post USING btree (course_id);


--
-- Name: idx_edu_forum_post_course_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_course_status ON public.edu_forum_post USING btree (course_id, status);


--
-- Name: idx_edu_forum_post_course_status_created; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_course_status_created ON public.edu_forum_post USING btree (course_id, status, created_at DESC);


--
-- Name: idx_edu_forum_post_forum_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_forum_id ON public.edu_forum_post USING btree (forum_id);


--
-- Name: idx_edu_forum_post_forum_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_forum_status ON public.edu_forum_post USING btree (forum_id, status);


--
-- Name: idx_edu_forum_post_forum_top_created; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_forum_top_created ON public.edu_forum_post USING btree (forum_id, is_top DESC, created_at DESC);


--
-- Name: idx_edu_forum_post_top_essence; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_top_essence ON public.edu_forum_post USING btree (forum_id, is_top DESC, is_essence DESC);


--
-- Name: idx_edu_forum_post_user_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_post_user_id ON public.edu_forum_post USING btree (sys_user_id);


--
-- Name: idx_edu_forum_reply_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_course_id ON public.edu_forum_reply USING btree (course_id);


--
-- Name: idx_edu_forum_reply_forum_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_forum_id ON public.edu_forum_reply USING btree (forum_id);


--
-- Name: idx_edu_forum_reply_parent; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_parent ON public.edu_forum_reply USING btree (parent_reply_id);


--
-- Name: idx_edu_forum_reply_post_floor; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_post_floor ON public.edu_forum_reply USING btree (post_id, floor_number);


--
-- Name: idx_edu_forum_reply_post_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_post_id ON public.edu_forum_reply USING btree (post_id);


--
-- Name: idx_edu_forum_reply_post_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_post_status ON public.edu_forum_reply USING btree (post_id, status);


--
-- Name: idx_edu_forum_reply_user_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_forum_reply_user_id ON public.edu_forum_reply USING btree (sys_user_id);


--
-- Name: idx_edu_question_answer_question_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_answer_question_id ON public.edu_question_answer USING btree (question_id);


--
-- Name: idx_edu_question_bank_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_bank_course_id ON public.edu_question_bank USING btree (course_id);


--
-- Name: idx_edu_question_bank_course_type; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_bank_course_type ON public.edu_question_bank USING btree (course_id, bank_type);


--
-- Name: idx_edu_question_bank_created; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_bank_created ON public.edu_question USING btree (question_bank_id, created_at DESC);


--
-- Name: idx_edu_question_bank_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_bank_id ON public.edu_question USING btree (question_bank_id);


--
-- Name: idx_edu_question_bank_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_bank_status ON public.edu_question USING btree (question_bank_id, status);


--
-- Name: idx_edu_question_bank_type; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_bank_type ON public.edu_question USING btree (question_bank_id, question_type);


--
-- Name: idx_edu_question_course_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_course_id ON public.edu_question USING btree (course_id);


--
-- Name: idx_edu_question_difficulty; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_difficulty ON public.edu_question USING btree (question_bank_id, difficulty);


--
-- Name: idx_edu_question_option_question_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_edu_question_option_question_id ON public.edu_question_option USING btree (question_id);


--
-- Name: idx_ntf_notification_deleted; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_notification_deleted ON public.ntf_notification USING btree (deleted) WHERE (deleted = 0);


--
-- Name: idx_ntf_notification_type; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_notification_type ON public.ntf_notification USING btree (type);


--
-- Name: idx_ntf_notification_type_created; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_notification_type_created ON public.ntf_notification USING btree (type, created_at DESC);


--
-- Name: idx_ntf_read_user; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_read_user ON public.ntf_read_status USING btree (user_id);


--
-- Name: idx_ntf_read_user_notification; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_read_user_notification ON public.ntf_read_status USING btree (user_id, notification_id);


--
-- Name: idx_ntf_target_user; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_target_user ON public.ntf_notification_target USING btree (user_id);


--
-- Name: idx_ntf_target_user_deleted; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_ntf_target_user_deleted ON public.ntf_notification_target USING btree (user_id, deleted);


--
-- Name: idx_storage_object_owner; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_storage_object_owner ON public.storage_object USING btree (owner_user_id);


--
-- Name: idx_storage_object_scope; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_storage_object_scope ON public.storage_object USING btree (scope_type, scope_id);


--
-- Name: idx_storage_object_usage_status; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_storage_object_usage_status ON public.storage_object USING btree (usage, status);


--
-- Name: idx_storage_upload_session_object; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_storage_upload_session_object ON public.storage_upload_session USING btree (object_id);


--
-- Name: idx_storage_upload_session_status_expire; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_storage_upload_session_status_expire ON public.storage_upload_session USING btree (status, expires_at);


--
-- Name: idx_student_student_no; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_student_student_no ON public.edu_student USING btree (student_no);


--
-- Name: idx_teacher_employee_no; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE INDEX idx_teacher_employee_no ON public.edu_teacher USING btree (employee_no);


--
-- Name: uk_ntf_read_notification_user; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE UNIQUE INDEX uk_ntf_read_notification_user ON public.ntf_read_status USING btree (notification_id, user_id);


--
-- Name: uk_ntf_target_notification_user; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE UNIQUE INDEX uk_ntf_target_notification_user ON public.ntf_notification_target USING btree (notification_id, user_id);


--
-- Name: uk_storage_object_bucket_key; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE UNIQUE INDEX uk_storage_object_bucket_key ON public.storage_object USING btree (bucket, object_key);


--
-- Name: uk_student_user_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE UNIQUE INDEX uk_student_user_id ON public.edu_student USING btree (user_id);


--
-- Name: uk_teacher_user_id; Type: INDEX; Schema: public; Owner: edupivot
--

CREATE UNIQUE INDEX uk_teacher_user_id ON public.edu_teacher USING btree (user_id);


--
-- Name: edu_chapter set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_chapter FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_course set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_course FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_course_file set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_course_file FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_enrollment set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_enrollment FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_forum set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_forum FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_forum_post set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_forum_post FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_forum_reply set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_forum_reply FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_question set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_question FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_question_answer set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_question_answer FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_question_bank set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_question_bank FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: edu_question_option set_updated_at; Type: TRIGGER; Schema: public; Owner: edupivot
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.edu_question_option FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();


--
-- Name: storage_upload_session fk_storage_upload_session_object; Type: FK CONSTRAINT; Schema: public; Owner: edupivot
--

ALTER TABLE ONLY public.storage_upload_session
    ADD CONSTRAINT fk_storage_upload_session_object FOREIGN KEY (object_id) REFERENCES public.storage_object(id);


--
-- PostgreSQL database dump complete
--

